*{

    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    width: 100%;
    list-style: none;
    text-decoration: none;
}
@font-face {
    font-family: lato, sans-serif;
    src: url(../asset/font/Lato\,Open_Sans\,Roboto.zip);
}
@font-face {
    font-family: lato, sans-serif;
    src: url(../asset/font/Lato\,Open_Sans\,Roboto.zip);
}